[mcu leveling_mcu]
serial: /dev/serial/by-id/usb-wch.cn_USB_Dual_Serial_0123456789-if02
baud: 250000
restart_method: command

[temperature_sensor leveling_temperature]
sensor_type: temperature_mcu
sensor_mcu: leveling_mcu
min_temp: 0
max_temp: 100

[load_cell_probe]
sensor_type: hx711
sclk_pin: leveling_mcu:PA7
dout_pin: leveling_mcu:PA4
sample_rate: 80
gain: A-128
sensor_orientation: inverted
force_safety_limit: 2000
trigger_force: 120
drift_filter_cutoff_frequency: 0.8
drift_filter_delay: 2
buzz_filter_cutoff_frequency: 39.5
buzz_filter_delay: 2
notch_filter_frequencies: 21, 11
notch_filter_quality: 2.0
tare_time: 0.5
z_offset: 0
speed: 2
samples: 3
sample_retract_dist: 3
lift_speed: 5
# samples_result: average 
samples_result: median
samples_tolerance: 0.05
samples_tolerance_retries: 5

[output_pin leveling_key1]
pin: leveling_mcu:PA0
pwm: False
value: 0

[output_pin leveling_key2]
pin: leveling_mcu:PA1
pwm: False
value: 0

[output_pin leveling_key3]
pin: leveling_mcu:PA5
pwm: False
value: 0

[output_pin leveling_key4]
pin: leveling_mcu:PA6
pwm: False
value: 0
